
/*all the code that is listed here can be used for making your own websites, projects, etc no matter if it's for 
  personal nor commercial purposes
  
  all fonts that have been used here for making this website are free and open source 
*/


/* 1) Main page ----------------------------------*/

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #37000C;
}

::selection{
  background-color: #e7849f;
}

a {
  text-decoration: none;
}

.main-wrapper{
  font-family: "Kosugi Maru";
  
  background-image: 
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url("bg-images/pinkbear.png");

  background-size: 40px 40px;
  background-repeat: repeat; 
  animation: move 5s linear infinite;
  
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -----------------------------------------*/
/* Font Styles */
/* -----------------------------------------*/

@font-face{
  font-family: 'OwlsNInk';
  src: url(fonts/OwlsNInk-subset.woff2) format('woff2');
}


/* ZenMaru */
@font-face{
  font-family: 'ZenMaruGothic-Medium';
  src: url(fonts/ZenMaruGothic/ZenMaruGothic-Medium.woff2) format('woff2');
}
@font-face{
  font-family: 'ZenMaruGothic-Light';
  src: url(fonts/ZenMaruGothic/ZenMaruGothic-Light-subset.woff2) format('woff2');
}
@font-face{
  font-family: 'ZenMaruGothic-Regular';
  src: url(fonts/ZenMaruGothic/ZenMaruGothic-Regular-subset.woff2) format('woff2');
}


/* Comfortaa */
@font-face{
  font-family: 'Comfortaa';
  src: url(fonts/Comfortaa/Comfortaa-VariableFont_wght-subset.woff2) format('woff2');
}


/* KosugiMaru */
@font-face{
  font-family: 'KosugiMaru';
  src: url(fonts/KosugiMaru/KosugiMaru-Regular-subset.woff2) format('woff2');
}

/* mononoki */
@font-face{
  font-family: 'mononoki-regular';
  src: url(fonts/mononoki/mononoki-Regular-subset.woff2) format('woff2');
}
@font-face{
  font-family: 'mononoki-bold';
  src: url(fonts/mononoki/mononoki-Bold.woff2) format('woff2');
}

@font-face{
  font-family: 'Lobster';
  src: url(fonts/Lobster/Lobster-Regular-subset.woff2) format('woff2');
}



/*Google fonts*/
/*.sn-pro {*/
/*  font-family: "SN Pro", sans-serif;*/
/*  font-weight: 100;*/
/*  font-style: normal;*/
/*}*/

/* will later convert all those fonts*/
.kosugi-maru-regular {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}


/*.teko {*/
/*  font-family: "Teko", sans-serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*.oooh-baby-regular {*/
/*  font-family: "Oooh Baby", cursive;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/* Container */
.container-main {
  display: grid;
  height: 100vh;
  grid-template-rows: 4fr 10rem 5fr;
  column-gap: 1.25rem;

  justify-content: center;
  justify-items: center;

  /*Pc gridding*/
  grid-template-areas:
  "box-1 box-2 box-3"
  "box-4 box-2 box-3"
  "box-5 box-2 box-3";
  
  margin: 0 auto;
  width: 100%;
  max-width: 77.5rem;
  box-sizing: border-box;
  padding: 0;

  
  
  /*justify is used for columns, align is used for rows*/
  align-items: start;
}


/*------------------------*/
/*--------- Menu ---------*/
/*------------------------*/
.Menu {
  text-align: center;
  align-self: flex-end;
  width: 10rem;
  height: 13.7rem;
  justify-items: center;

  border-radius: 10px;
  border: 1px solid #741A2E;
  
  /* outline-style: solid;
  outline-color: #FDB7C5;
  outline-width: 3px; */
  
  /*background: linear-gradient(#fff5f1 80%, #FCAEB9);*/
  background: linear-gradient(white, #FFFAF7);
  background-image: url("images/flowers/pinkflower2.png");
  box-shadow: 0 5px 7px #de6d8580;
}
.navbar{
  display: none;
}

.menuButtons {
  height: auto;

  display: flex;
  flex-direction: column;

  font-size: 1rem;
}

.menuTitle {
  font-family: 'ZenMaruGothic-Regular';
  margin: 0.313rem 0.313rem 0.626rem 0.313rem;
  font-size: 1.125rem;
  padding-bottom: 0.313rem;
  border-bottom: 5px dotted #CB5E77;
  color: #741A2E;
}

.menuTitle::before, .menuTitle::after {
  content: "🌟";
}

.btn {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0.313rem;
  position: relative;
  background: transparent;
  outline: none;
  padding: 0;
  border: none;
  line-height: 1;
}

.btn .edge{
  position: absolute;
  border-radius: 6px;
  width: 7.99rem;
  height: 100%;
  background-color: #B3877D;
  transition: 0.2s;

  background-color: var(--edge-bg);
}

.btn .front{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 8rem;
  height: 1.8rem;
  transform: translateY(-0.25rem);
  transition: 0.2s;
  font-size: 1rem;

  background-color: var(--front-bg);
}

/* general button settings */
.btn:hover .front{

  background-color: var(--front-hover-bg);
  color: var(--text-hover-color);

  transform: translateY(-0.5rem);
  width: 7rem;
  cursor: pointer;
}

.btn:hover .edge{
  width: 100%;
  width: 7rem;
  background-color: var(--edge-hover-bg);
}

.btn:link .front, .btn:visited .front{
  color: #1A0409;
}


.btn1 {
  --front-bg: #FF8F8F;
  --edge-bg: #C85F5F;
  --front-hover-bg: #FF6363;
  --edge-hover-bg: #D44C4C;

  --text-hover-color: #37000C;
}
.btn2 {
  --front-bg: #FFD876;
  --edge-bg: #EDBC39;
  --front-hover-bg: #FFC94F;
  --edge-hover-bg: #F0B522;
}
.btn3 {
  --front-bg: #b7fab7;
  --edge-bg: #67C767;
  --front-hover-bg: #7af57a;
  --edge-hover-bg: #38B538;
}
.btn4 {
  --front-bg: #b7b7fa;
  --edge-bg: #7575f5;
  --front-hover-bg: #9797F7;
  --edge-hover-bg: #4B4BEB;
}


.btn:active .front{
  transform: translateY(-0.15rem);
  transition: transform 10ms;
}

.btn:active .edge{
  transition: transform 10ms;
}

.menuButtons img{
  height: 50px;
  width: 50px;
  object-fit: contain;
  align-self: flex-start;
}

/*------------------------*/
/*------ UpdateLog -------*/
/*------------------------*/

.container-log{
  justify-content: flex-start;
  margin-inline: auto;
  /* #ffe4e4 */
  box-sizing: border-box;
}
.updatelog{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 16.125rem;

  border-radius: 10px 10px 0 0;
}


.log {
  font-family: 'Comfortaa';
  letter-spacing: 10%;
  font-size: 0.875rem;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0.438rem 0.636rem 0.438rem 0.939rem;
}

.log #chevron-up-down{
  stroke: #000000;
}
.log #chevron-up-down:hover{
  stroke: #DE6D85;
}
.log #chevron-up-down:active{
  stroke: white;
}

.log-btn.opened #chevron-up-down{
  transform: rotate(180deg);
}


.log p{
  margin: 0;
}

.log-btn{
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FFFAF9;
  text-align: center;

  padding: 0;

  border-radius: 20%;
  border: none;
  box-shadow: 0 1px 1px #de6d8580;
  cursor: pointer;
}

.updatelog .log-btn:hover{
  outline: 1px solid #DE6D85;
}
.updatelog .log-btn:active{
  background-color: #DE6D85;
}


.log-top{
  background-color: #FFDAD3;
  border-radius: 10px 10px 0 0;
  width: 13rem;
  
  box-shadow: 0 5px 7px #de6d8580;
  transition: 450ms ease-out;
  border-radius: 10px;
  border: solid 1px #741A2E;
}
.log-top.opened{
  border-radius: 10px 10px 0 0;
}

.log-message{
  box-sizing: border-box;
  position: absolute;
  background-color: #FFFAF9;
  z-index: 1;
  max-height: 14rem;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;

  width: 100%;

  transition: 450ms ease-out;

  scrollbar-width: thin; 
  scrollbar-color: #DE6D85 #f1f1f1;  

  box-shadow: 0 5px 7px #de6d8580;

  height: 0;
  padding: 0;
  border: solid 1px #741A2E;
  
  visibility: hidden;
}

.log-message.opened{
  height: 100%;
  padding: 1.25rem 0.939rem 0 0.626rem;
  border-radius: 0 0 10px 10px;
  border: solid 1px #741A2E;
  visibility: visible;
}

.updatelog .upd{
  margin: 0 0 0.626rem 0;
  color: #741A2E;
}

.updatelog .updtop{
  font-family: 'KosugiMaru';
  display: flex;
  gap: 0.313rem;
}

li::marker{
  font-size: 0.813rem;
}

.updatelog .log-message h3::before{
  content: "";
  display: inline-block;
  width: 0.938rem;
  height: 0.938rem;
  margin-right: 0.3rem;
  vertical-align: middle;
  background: url("images/icons/chevrons/chevron-down-svgrepo-com.svg") center / contain no-repeat;
}


.updatelog .updtop p{
  align-self: end;
  color: rgb(0, 0, 0, 0.60);

  font-size: 0.813rem;
  margin: 0 0 0.313rem 0;
}
.updatelog .log-message .updtop p{
  font-family: 'mononoki-regular';
}
.updatelog .log-message h3{
  font-size: 1rem;
  margin: 0 0 0.313rem 0;
  margin-bottom: 0;
}
.updatelog .log-message .upd p{
  font-size: 0.813rem;
  margin: 0 0 0.313rem 0;
  font-family: 'mononoki-bold';
}
.updatelog .log-message hr{
  border-top: 1px solid #de6d8580;
}




.Chloe{
  width: 7.813rem;
  height: auto;
  border-radius: 15px;
  border: solid 1px #741A2E;
  margin-top: 0.25rem;
}


/*------------------------*/
/*------ Guestbook -------*/
/*------------------------*/

.container-guestbook{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 0.625rem;

  padding: 1rem 0 0.626rem 0;
  height: 100%;
}

.container-guestbook .front{
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  background-image: url("images/bg/guestbook-pink.jpg");
  background-size: 200%;

  width: 10rem;
  height: 2.5rem;
  border-radius: 10px;
  border: solid 0.2px #741A2E;
  box-shadow: 0 0.313rem 0.438rem #de6d8580;
  transition: 0.2s;

  font-family: 'Comfortaa';
  font-weight: 900;
  color: #741A2E;
}

.container-guestbook .front:hover{
  width: 11rem;
  height: 3rem;
  color: #DE6D85;
  background-image: url("images/bg/guestbook-lightpink.jpg");
  transition: 0.3s;
  cursor: pointer;
}

.container-guestbook .front:active{
  width: 10rem;
  height: 2.5rem;
  color: #DE6D85;
  background-image: url("images/bg/guestbook-lightpink.jpg");
  transition: 0.3s;
}

/* will return here later */
.container-guestbook img{
  height: 4.8rem;
  width: 6.25rem;

  border-radius: 10px;
  border: solid 0.2px #741A2E;
}

.guestbook-frame.iframe{
  display: none;
}




/*------------------------*/
/*------ Centerpage ------*/
/*------------------------*/

/*Had some problems to figure out how do justify/align-items/content work

apparently, justify-self cannot be applied to elements in flexbox cuz it considers all those individual elements 
as one big element that gets changed.
basically trying to align an item within itself 
and based on that justify-items cannot be applied too

justify-content on the other hand manages a free space of the whole container


*/
.centerpage {
  display: flex;
  flex-direction: column;
  
  align-self: center;
  align-items: center;
  
  width: 100%;
}

.Melia_container{
  position: relative;
  box-sizing: border-box;
  justify-self: center;
  
  width: 25rem;
  border-radius: 10px;
  outline: solid 1px #741A2E;
  margin-bottom: 0.939rem;
  padding: 0.5rem;
  background-color: #FFDAD3;
  box-shadow: 0 5px 7px #de6d8580;
}

.pageTitle {
  font-family: 'Lobster';
  background: #FFDAD3;
  border-radius: 40px;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  
  -webkit-text-stroke: white;
  
  border: 1px solid #C85F5F;

  margin-bottom: 0.938rem;
 
  font-size: 0.75rem;
  letter-spacing: 15%;
  color: #741A2E;
  box-shadow: 0 5px 7px #de6d8580;
}

.Melia {
  /* position: relative; */
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.Melia-ov1 {
  width: 160px; 
  height: 80px;
  
  right: 31%;
  top: 13%;
  
  border-radius: 50%;
  
  position: absolute;
  cursor: grab;
}
.Melia-ov1:active{
  cursor: grabbing;
}

.Melia-ov2 {
  width: 20px; 
  height: 20px;
  
  right: 50.4%;
  top: 45%;
  
  border-radius: 50%;
  
  position: absolute;
  cursor: pointer;
}

/* configuring items with absolute position */
.attach{
  position: absolute;
}

/* flowers */
.fl1{
  width: 6.25rem;
  height: auto;
  left: 79%; /* 79 % */
  bottom: -2%;
  z-index: 2;
}
.fl2{
  width: 9.375rem;
  height: auto;
  right: 67%;
  top: -5%; 
}
.fl3{
  width: 6.25rem;
  height: auto;
  left: 86%;
  bottom: 0%;
  rotate: 90%;
  transform: scaleX(-1) rotate(-15deg);
}
.fl4{
  width: 6.25rem;
  height: auto;
  right: 86%;
  bottom: 0%;
  transform: rotate(-15deg);
}

.phrase{
  width: 34.375rem;
}

.pageTitle h1{
  margin: 0;
  padding: 0;
}




/*------------------------*/
/*------ Rightside -------*/
/*------------------------*/

.rightside{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.artoftheday {
  margin-bottom: 1.25rem;
}

.artoftheday .label{
  padding: 0;
  font-family: 'OwlsNInk';
  font-size: 1rem;
  color: #741A2E;
  background-color: #FFF5EE;

  border: solid 2px #741A2E;
  margin-bottom: 0.626rem;
}

.daytoday {
  display: flex;
  flex-direction: column;
  background-color: #FFDAD3;
  border: solid 1px #741A2E;
  padding: 0.313rem;
  box-shadow: 0 0.313rem 0.438rem #de6d8580;
}

.artoftheday .label h3{
  margin: 0;
}

.artoftheday .doodle{
  box-sizing: border-box;
  width: 7.813rem;
  height: 10rem;
  object-fit: contain;
  padding: 0.188rem 0.188rem 0 0.188rem;

  box-shadow: 2px 2px 2px inset #de6d8580;
  z-index: 2;
}

#doodle-link{
  cursor: pointer;
}

.bulb-container{
  border-radius: 10px;
  border: solid 1px #741A2E;  
  padding: 0;
  margin: 0;
  box-shadow: 0 0.313rem 0.438rem #de6d8580;
}

.bulb-top{
  display: flex;
  justify-content: center;
  background-color: #FFDAD3;
  border-radius: 10px 10px 0 0;
  border-bottom: solid 1px #741A2E;
}
.bulb-top h3{
  margin: 0.188rem 0 0.188rem 0;
  font-family: 'Comfortaa';
  font-size: 0.875rem;
  letter-spacing: 10%;
  font-weight: 600;
}





.bulbAndGifs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 0.938rem;
}

.gifs-group{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.bulbAndGifs .item{
  height: 11.25rem;
}

.gifs-group img{
  border-radius: 10px;
  border: solid 0.2px #741A2E;
}

.gifs-group .gif1{
  width: 5.313rem;
}
.gifs-group .gif2{
  width: 3.75rem;
  transform: translate(2rem);
}

.bulbAndGifs .bulb{
  width: 7.25rem;
  height: auto;
  border-radius: 0 0 10px 10px;
  object-fit: contain;
  background-color: white;
}


/*------------------------------
            Calendar
  ------------------------------*/

.calendar{
  display: flex;
  flex-direction: column;
  
  box-sizing: border-box;

  container-type: inline-size;
  overflow: hidden;
  min-width: 3.125rem;
  max-width: 14.063rem;
  
  width: 12.5rem;
  height: auto;
  
  border-radius: 0.626rem;
  border: solid 1px #741A2E;
  box-shadow: 0 5px 7px #de6d8580;
}

.calendar_header{
  font-family: 'Comfortaa';
  letter-spacing: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0.438rem 0.636rem 0.438rem 0.939rem;
  background-color: #FFDAD3;
  border-bottom: solid 1px #741A2E;
}
.calendar_navigation {
  flex-wrap: nowrap;
  gap: 0.313rem;
}


.chevron-right{
  stroke: #37000C;
  background-color: #FFFAF9;
  border-radius: 0.313rem;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 1px #de6d8580;
}

.chevron-left{
  stroke: #37000C;
  background-color: #FFFAF9;
  border-radius: 0.313rem;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 1px #de6d8580;
  transform: scaleX(-1);
}
.chevron-right:hover, .chevron-left:hover{
  stroke: #DE6D85;
  outline: solid 1px #DE6D85;
}
.chevron-right:active, .chevron-left:active{
  background-color: #DE6D85;
  stroke: white;
}


.calendar_header p{
  margin: 0;
  font-size: 0.875rem;
  align-self: center;
  color: #37000C;
}
.calendar_body {
  font-family: 'ZenMaruGothic-Regular';
  
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  background-color: #FFFAF9;
  padding: 0.438rem;
}
.calendar_navigation{
  user-select: none;
}

.calendar_body ul{
  margin: 0;
  padding: 0;
  
  width: 100%;

  list-style: none;
  margin-bottom: 0.313rem;
}
/**/
.calendar_body li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% / 7) - 2px); 
  aspect-ratio: 1 / 1;
  margin: 1px;
  /* 8px is for margin added from both sides of calendar body, and 20px is from padding from same calendar body */
  
  font-size: 0.625rem;
}

.calendar .calendar_dates, .calendar_weekdays{
  /*display: grid;*/
  /*grid-template-columns: repeat(7, 1fr);*/
  /*grid-template-rows: repeat(6, 1fr);*/
  
  display: flex;
  flex-wrap: wrap;
}

.calendar_weekdays{
  background-color: #FFDAD3;
  border-radius: 0.626rem;
}

.calendar_dates li{
  font-weight: bold;
  border-radius: 0.313rem;
  cursor: pointer;
  color: #741A2E;
}
  
.calendar_dates .highlight{
  background-color: #DE6D85;
  color: white;
  box-shadow: 0 1px 2px #de6d8580;
}

.calendar_dates .inactive{
  background-color: #FFE3E9;
  outline-color: #F0ADBE;
}
/* .calendar_dates li:not(active):not(highlight):hover {
} */

.calendar_dates .active{
  background-color: transparent;
  outline: solid 1px #DE6D85; 
  color: #DE6D85;
}

.calendar_dates li:not(.active):not(.highlight):hover {
  background-color: #fecfd9;
  color: #37000C;
}


/* 2) Link page ----------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/

.link-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  
  background-image: url("/images/backgrounds/wallhaven.jpg");
}

.container-link{
  font-size: 20px;
  
  width: 100%;
    
  min-width: 200px;
  max-width: 400px;
  height: 400px;
  
  background-color: #cdf2bd;
  border-radius: 30%;
  
  border-color: white;
  border-style: solid;
  border-width: 10px;
  box-shadow: 0 0 30px #fffdee;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
  font-family: "Kosugi Maru";
}

.container-link ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container-link li{
  margin: 5px;
}


/* 3) About page ----------------------------------*/

.about-wrapper{
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  background-image: url("bg-images/pastel-pink-stripe.jpg");
  background-repeat: repeat; 
  background-size: 40px;
  animation: move 3s linear infinite;
}

@keyframes move{
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 40px 40px;
  }
}


.container-about {
  color: #DA6F6F;
  width: 100%;
  
  /*min widht/height will be added later*/
  max-width: 800px;
  max-height: 720px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 
    0px 2px 10px 0px #DA6F6F,
    inset 7px 7px 10px white,
    inset -3px -3px 10px #DA6F6F;
  
  
  background-color: #FFE4E4;
}

.container-about .center{
  position: relative;
  font-family: 'ZenMaruGothic-Medium';
  box-sizing: border-box;
  max-height: 372px;
  overflow: auto;
  margin: 0 15px 15px 15px;
  padding: 1.875rem 1.875rem 0px 1.875rem;
   /*min widht/height will be added later*/
  font-size: 20px;
  background-color: white;
 
  /* box-shadow:
    inset 3px 3px 5px #b26c6c99,
    inset -3px -3px 10px white; */
}

.center .firstP{
  position: relative;
}

.center .chibi{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 70%;
  top: 40%;
  z-index: 0;
}

.center .chibi p{
  color: #DA6F6F;
}


.about-wrapper img{
  width: 200px;
  object-fit: contain;
  
}

.about-wrapper .top{
  display: flex;
  margin: 15px 20px 5px 15px;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
}

.about-wrapper .Title::before {
  content: "";
  position: absolute;
  background: url("images/icons/about-window.png") no-repeat center / contain;
  height: 40px;
  width: 40px;
  left: 0;
  top: 50%;
  transform: translateY(-60%);
}

.about-wrapper .Title{
  font-family: 'OwlsNInk';
  padding: 0;
  position: relative;
  /*font-family: "Hachi Maru Pop";*/
  padding-left: 45px;
  margin: 0;
  color: #DA6F6F;
  font-weight: 400;
}

.center p, .center li, .center h3, .center h2, .center h1{
  margin: 0;
}

.center p {
  line-height: 3;
  color: #5E5E5E;
}

.center li {
  line-height: 2;
  color: #5E5E5E;
}

.center h1 {
  line-height: 2;
  color: #5E5E5E;
}
.captions {
  font-family: 'ZenMaruGothic-Medium';
  display: flex;
  gap: 10px;
}

/* Link and button configurations */
.captions .minimise {
  background-color: white;
  width: 30px;
  height: 30px;
  color: #DA6F6F;
  box-shadow: 
    inset -3px -3px 3px #b26c6c99,
    inset 3px 3px 4px white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.captions .minimise:hover {
  background-color: #FFC1C1;
  transition: 0.3s;
}

.captions .minimise:active {
  /*interesting idea of changing inner shadows, but it may be not really how old window ui were designed*/
  
  box-shadow: 
    inset 3px 3px 3px #b26c6c99,
    inset -3px -3px 3px white;
  transition: 0.1s;
  background-color: white;
}

.captions .minimise span{
  display: inline-block;
  transition: 0.1s;
}

.captions .minimise:active span{
  transform: translate(10%, 10%);
}

.captions .close{
  display: flex;
  background-color: #DA6F6F;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  
  box-shadow: 
  inset -3px -3px 3px #de6d8580,
  inset 2px 2px 3px white;
  justify-content: center;
  align-items: center;
}

.captions .close:hover{
  background-color: #FFB4B4;
  transition: 0.1s;
}
.captions .close:active{
  background-color: #DA6F6F;
  box-shadow: inset 3px 3px 3px #de6d8580;
}
.captions .close:active span{
  transform: translate(5%, 5%);
  transition: 0.1s;
}




/* 4) Gallery page ----------------------------------*/

.gallery-wrapper{
  margin: 0;
  font-family: 'mononoki';
}

.gallery-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.gallery-wrapper .years{
  display: flex;
  flex-direction: column;
}

.gallery-container .leftside{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/bg-images/gallery-bg/darkgreen.png");
  /*background-size: 500px 500px;*/
  
  text-align: center;
  border-right: 5px solid white;
  
  outline-offset: 5px;
  outline: 2px solid white; 
}

.gallery-container .centerpage{
  box-sizing: border-box;
  height: 100vh;
  padding: 0 40px 40px 40px;
  background-image: url("/bg-images/gallery-bg/green.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.gallery-container .gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.gallery-container .gallery img{
  width: 300px;
  object-fit: contain;
}

.gallery-container .title h1{
  margin-top: 5px;
  margin-bottom: 70px;
  
  color: white;
  -webkit-text-stroke: 5px solid #2E7F2E;
  
  text-shadow: 5px 5px #00000033;
  
  font-size: 64px;
}

.gallery-container .years {
  display: flex;
  align-items: center;
  
  gap: 1rem;
}

.gallery-container .years .year-box{
  color: #2E7F2E;
  background-color: #F1FFB8;
  outline: 2px solid #2E7F2E;
  margin-bottom: 10px;
  
  border-radius: 10px;
  
  width: 100px;
  min-width: 4rem;
  max-width: 8rem;
  height: 2rem;
  
  display: flex;
  align-items: center;      
  justify-content: center;
}

.gallery-container .years .year-box::before, .gallery-container .years .year-box::after {
  content: "☆";
  margin: 0.5rem;
}


.gallery-container .content {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;   
  height: calc(100vh - 170px); /* weird way to calculate it tho */
}

.gallery-container a{
  position: relative;
  display: block; 
}

.gallery-container .years .front, .content .home .front{
  position: relative;
  display: flex;
  align-items: center;      
  justify-content: center;
  transform: translateY(-0.25rem);
}
.gallery-container .years .front{
  border-radius: 10px;
  
  width: 100%;
  background-color: white;
  min-width: 10rem;
  max-width: 20rem;
  height: 2.5rem;
  
  color: #2E7F2E;
}

.gallery-container .home .front{
  color: #2E7F2E;
  background-color: #F1FFB8;
  
  border-radius: 10px;
  
  width: 100%;
  min-width: 4rem;
  max-width: 8rem;
  height: 2rem;
}


.gallery-container .edge{
  position: absolute;
  background-color: #00000033;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 10px;
}

.gallery-container .centerpage h1{
  text-align: center;
  color: #2E7F2E;
}

.gallery-container .content .years a:hover .front{
  background-color: #F1FFB8;
  transition: 0.1s ease;
}

.gallery-container .content .home a:hover .front{
  background-color: white;
  transition: 0.1s ease;
}

.gallery-container .content a:active .front{
  transform: translateY(0rem);
}

@media screen and (max-width: 1050px){
.container-main{
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, auto);

    grid-template-areas:
    "box-1"
    "box-2"
    "box-2"
    "box-2"
    "box-3"
    "box-3"
    "box-3"
    "box-5"
    "box-4";

    width: 100%;
    padding: 0.938rem;

    gap: 2rem;
  }

  /* navigation bar */
  .navbar{
    box-sizing: border-box;
    font-family: 'Kosugi Maru';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: auto;
    border-radius: 0 0 1.563rem 1.563rem;
    background-color: #FFFAF9;
    border: solid 1px #741A2E;
    gap: 2.5rem;
  }
  .mobfl{
    width: 3.125rem;
    height: 3.125rem;
  }

  .menuButtonsMobile{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 31.25rem;
    justify-content: space-between;
    align-items: center;
  }
  .btn .front{
    border-radius: 6px;
    max-width: 6rem;
    height: 1.8rem;
  }
  .btn .edge{
    max-width: 6rem;
  }

  /* general button settings */
  .btn:hover .front{
    max-width: 6rem;
  }

  .btn:hover .edge{
    max-width: 6rem;
  }
  .Menu{
    display: none;
  }
  #hambtn{
    display: none;
  }



  /* centerpage */
  .Melia_container{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 30rem;
    justify-content: center;
  }

  .pageTitle{
    width: 100%;
    max-width: 20rem;
    text-align: center;
  }

  .Melia_container .Melia{
    width: 100%;
    height: auto;
  }

  .Melia-ov1 {
    width: 100px;
    height: 100px;
    right: 42%;
  }
  .Melia-ov2 {
    width: 20px;
  }
  .fl1{
    width: 140px;
  } 
  .fl2{
    width: 100%;
    max-width: 190px;
  }
  .fl3, .fl4{
    width: 100%;
    max-width: 100px;
  }
  .phrase{
    width: 100%;
    max-width: 30rem;
  }



  /* rightside */
  .rightside{
    width: 100%;
  }

  .artoftheday{
    width: 100%; 
  }
  .daytoday{
    height: auto;
  }
  .artoftheday .doodle{
    width: 100%;
    height: 400px;
  }
  .container-log, .log-top, .updatelog .log-message{
    width: 100%;
  }

  .log-message{
    height: 32rem;
  }




  .updatelog, .log-top{
    box-sizing: border-box;
  }

  /* bulb and gifs */
  .bulbAndGifs{
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: contain;
  }
  .bulb-container{
    width: 100%;
    background-color: white;
  }
  .gifs-group{
    display: flex;
    flex-direction: row;
    gap: 0.938rem;
  }

  .gifs-group .gif1, .gifs-group .gif2{
    width: 100%;
    transform: translate(0);
  }

  .container-guestbook{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
  }

  /* Guestbook */
  .guestbook-frame{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  .guestbook-frame.iframe{
    display: block;  
    margin: 0 auto;
    text-decoration: none;
    width: 100%;
    min-width: 12.5rem;
    height: 31.25rem;
    border: solid 1px #741A2E;
    border-radius: 0.938rem;
  }

  #gbtn{
    display: none;
  }

  .guestbook-frame.iframe{
    display: block;
  }
  .guestbook-frame.link{
    display: none;
  }

  .guestbook a{
    background-color: orange;
    padding: 1rem;
  }

  .calendar{
    display: none;
  }

}

@media screen and (max-width: 655px){
  h1{
    font-size: 20px;
  }

  /* navigation bar */
  .navbar{
    position: relative;
    display: block;
    padding: 1em;
    width: 100%;
    height: auto;
    border-radius: 0 0 1.563rem 1.563rem;
    background-color: #FFFAF9;
    border: solid 1px #741A2E;
  }
  #hambtn{
    display: block;
    position: relative;
    border-radius: 0.939rem;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    padding: 0;
    margin: 0;
  }
  #hambtn span{
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #741A2E;
    left: 6px;
    transition: all 0.2s ease;
  }
  #hambtn span:nth-child(1){
    top: 11px;
  }
  #hambtn span:nth-child(2){
    top: 19px;
  }
  #hambtn span:nth-child(3){
    top: 27px;
  }

  #hambtn.active span:nth-child(1){
    transform: rotate(45deg);
    top: 19px;
  }
  #hambtn.active span:nth-child(2){
    opacity: 0;
  }
  #hambtn.active span:nth-child(3){
    transform: rotate(-45deg);
    top: 19px;
  }

  .main-wrapper{
    scrollbar-width: thin; 
    scrollbar-color: #DE6D85 #f1f1f1;  
  }


  /* Menu */
  .Menu{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-self: start;
    border: solid 1px #741A2E;
    width: 100%;
    height: auto;
    top: 77px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    transition:
    opacity 0.35s ease,
    transform 0.35s ease,
    visibility 0.35s ease;
  }
  .menuButtonsMobile{
    display: none;
  }

  .menuButtons{
    width: 100%;
    align-items: center;
    padding-inline: 1.25rem;
  }

  .menuTitle{
    width: 100%;
    max-width: 13rem;
  }

  .btn{
    width: 100%;
  }

  .btn .front{
    border-radius: 6px;
    width: 100%;
    max-width: 15rem;
    height: 1.8rem;
  }
  .btn .edge{
    width: 100%;
    max-width: 15rem;
  }

  .btn:hover .front{
    border-radius: 6px;
    width: 100%;
    max-width: 15rem;
    height: 1.8rem;
  }
  .btn:hover .edge{
    width: 100%;
    max-width: 15rem;
  }

  .mobfl{
    display: none;
  }

  .Menu.active {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    transition:
    opacity 0.35s ease,
    transform 0.35s ease,
    visibility 0.35s ease;
  }

  /* centerpage */

  .pageTitle h1{
    font-size: clamp(1rem, 10vw, 1.25rem);
    text-align: center;
  }

  .pageTitle{
    box-sizing: border-box;
    min-width: 3rem;
    width: 100%;
    max-width: 18rem;
    text-align: center;
  }
  .Melia_container{
    max-width: 18.75rem;
    min-width: 12.5rem;
  }
  .Melia-ov1 {
    max-width: 100px; 
    right: 40%;
  }
  
  
  .Melia-ov2 {
    max-width: 20px;
    right: 50%;
  }
  .fl1{
    max-width: 50px;
    left: 87%;
  } 
  .fl2{
    max-width: 85px;
    left: 0%;
    top: 0%;
  }
  .fl3, .fl4{
    max-width: 60px;
  }
  .phrase{
    display: none;
  }


  .rightside{
    width: 100%;
  }

  /* bulb and gifs */
  .item.bulb-container{
    width: 100%;
    height: auto;
    max-width: 18.75rem;
    min-width: 12.5rem;
  }

  .bulbAndGifs .bulb{
    width: 70%;
    max-width: 18.75rem;
    min-width: 12.5rem;
    height: auto;
  }

  .gifs-group .gif1, .gifs-group .gif2{
    width: 100%;
    object-fit: contain;
    height: 6rem;
    background-color: white;
    transform: translate(0);
  }


  .item.gifs-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.938rem;
    width: 100%;
    max-width: 18.75rem;
    height: auto;
  }


  /* art of the day */
  .artoftheday{
    width: 10.938rem;
  }
  .daytoday{
    height: auto;
  }
  .artoftheday .doodle{
    width: 100%;
    height: 100%;
  }
  .container-log{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Update log */

  .updatelog{
    height: 27rem;
  }

  .updatelog, .log-top{
    box-sizing: border-box;
    width: 100%;;
    max-width: 18.75rem;
  }
  .log-message{
    height: 100%;
    max-height: 62rem;
  }
  .menuButtons{
    padding-bottom: 20px;
  }

  /* Guestbook */

  .container-guestbook .front{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  .guestbook-frame.iframe{
    display: block;
    text-decoration: none;
    width: 100%;
    min-width: 12.5rem;
    height: 37.5rem;
    max-width: 18.75rem;
    border: solid 1px #741A2E;
    border-radius: 0.938rem;
  }

  .Chloe{
    width: 100%;
    max-width: 7.813rem;
  }

  #gbtn{
    display: none;
  }

  .guestbook-frame.link{
    display: none;
  }

  .guestbook-frame a{
    background-color: orange;
    padding: 1rem;
  }

  .calendar{
    display: none;
  }
}
